.Ingredients {
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  margin: 2px;
  flex-wrap: wrap;
}

.ProductName {
  border: black 1px solid;
  background-color: rgb(240, 165, 135);
  width: 20%;
  display: flex;
  flex-wrap: wrap;
}

.ProductName:hover {
  background: rgb(92, 43, 43);
  cursor: pointer;
}

.ProductName b {
  margin-left: 10px;
  width: 20%;
}

.Price {
  width: 20%;
}
