.Btn-delete {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background: coral;
  outline: none;
  color: aliceblue;
}

.Btn-delete:hover {
  background: rgb(223, 71, 16);
  cursor: pointer;
  color: black;
}
